@font-face {
  src: url("./assets/fonts/upheaval/upheavtt.ttf") format("truetype");
  font-family: "Upheaval";
}

body {
  background-color: #191970;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.jeu {
  position: relative;
  height: 700px;
  width: 900px;
  background-color: #15328a;
  display: flex;
  justify-content: center;
}

.jeu h1 {
  position: absolute;
  font-family: "Upheaval";
  font-size: 300%;
  top: 1%;
  color: #ffd700;
  text-shadow: 2px 2px black;
  display: flex;
  justify-content: center;
}

.jeu h3 {
  position: absolute;
  font-family: Helvetica, sans-serif;
  top: 12.5%;
  color: white;
  text-shadow: 2px 2px black;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
}

.jeu p {
  position: absolute;
  font-family: Helvetica, sans-serif;
  top: 18%;
  padding-left: 30px;
  padding-right: 30px;
  color: white;
  text-shadow: 2px 2px black;
  text-align: center;
  display: flex;
  justify-content: center;
}

.imgmenu {
  background-image: url("./assets/images/images_jeu/image_principale.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 60%;
  width: 80%;
  margin-top: 22%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.choixmenu {
  position: absolute;
  margin: auto;
  height: 100%;
  width: 100%;
  top: 43%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

/* ref de transition: https://getcssscan.com/css-buttons-examples */
.choixmenu button {
  font-family: Helvetica, sans-serif;
  font-size: 16px;
  text-align: center;
  font-weight: 600;
  padding: 10px 32px;
  color: white;
  background-color: #00008b;
  text-transform: uppercase;
  border: none;
  transition: all .2s cubic-bezier(.22, .61, .36, 1);
}

.choixmenu button:hover {
  background-color: #000080;
  color: #ffd700;
  transform: translateY(-2px);
}


