@font-face {
  src: url("./assets/fonts/upheaval/upheavtt.ttf") format("truetype");
  font-family: "Upheaval";
}

body {
  background-color: #191970;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.jeu {
  height: 750px;
  width: 900px;
  background-color: #15328a;
}

.jeu h1 {
  font-family: "Upheaval";
  font-size: 300%;
  top: 1%;
  color: #ffd700;
  text-shadow: 2px 2px black;
  display: flex;
  justify-content: center;
}

.jeu h3 {
  font-family: Helvetica, sans-serif;
  top: 12.5%;
  color: white;
  text-shadow: 2px 2px black;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
}

.jeu p {
  font-family: Helvetica, sans-serif;
  top: 18%;
  padding-left: 30px;
  padding-right: 30px;
  color: white;
  text-shadow: 2px 2px black;
  text-align: center;
  display: flex;
  justify-content: center;
}

.imgmenu {
  background-image: url("./assets/images/images_jeu/image_principale.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 60%;
  width: 90%;
  margin: 5%;
  margin-top: 2%;
  margin-bottom: 10px;
}

.choixmenu {
  height: 5%;
  width: 100%;
  top: 43%;
  display: flex;
  justify-content: space-around;
  align-items: flex-start; 
}

.choixmenu button {
  font-family: Helvetica, sans-serif;
  font-size: 16px;
  text-align: center;
  font-weight: 600;
  padding: 10px 32px;
  color: white;
  background-color: #00008b;
  text-transform: uppercase;
  border: none;
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.choixmenu button:hover {
  background-color: #000080;
  color: #ffd700;
}





